
  body {
    background-image: url("images/image.jpeg");
    background-color: #cccccc;
   }
  h1 {
    font-size: 30px;
    color: black;
    position:right;
  }
  

  h2{
      font-size: 20px;
      color:black;
      position: center;
  }

  h4{
      font-size: 20px;
      color:black;
  }

  .header {
    position: center;
  }

  
